.pizzaImage{
    width: 75%;
}

.pizzaImage:hover{
    cursor: pointer;
}

section.flex{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    flex-direction: column;
}

figure.flexbox-image{
    flex: 1;
}


h3:hover{
    cursor: default;
}

/* h3{
     margin-left: 40px; 
} */

.beschreibung{
    flex: 1;
    font-size: large;
    justify-content: center;
}

.beschreibung span{
    justify-content: center;
}

/* form{
    border: 0.75px solid #ccc;
} */

.outer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1%;
    border: 1px #ccc solid;
}

@media only screen and (max-width: 500px){
    .beschreibung span{
        visibility: hidden;
        flex:0;
    }
    figure.flexbox-image{
        flex: 50%;
    }
}

